.flowcanvas {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
overflow-x: scroll;
overflow-y: hidden;
}

.flowcanvas-item {
position: absolute;
display: inline-block;
}

.flowcanvas-anchor-invisible {
background-color: white;
filter: alpha(opacity=1);
opacity: 0.001;
}

.flowcanvas-item-overlay {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
background-color: white;
filter: alpha(opacity=1);
opacity: 0.01;
}
